<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Image Zoom Test</title>

    <link rel="stylesheet" href="/static/css/image_zoom.css">
    <script src="/static/js/p5.min.js"></script>
    <script src="/static/js/image_zoom.js"></script>
    <script>
      let filename='chewbacca.jpg'
      let duration = 5 * 1000; // 5sec
      let initialSizeRatio = 50;
      let initialCenterOffset = {x:0, y:300};
      initParameters(filename, duration, initialSizeRatio, initialCenterOffset);
    </script>
  </head>
  <body>
    <div id="myCanvas"></div>
  </body>
</html>
