<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Zoom Image</title>

    <link rel="stylesheet" href="/static/css/image_zoom.css">
    <script src="/static/js/p5.min.js"></script>
    <script src="/static/js/image_zoom.js"></script>
    <script>
      let filename="{{image}}"
      let duration = 10 * 1000; // 10sec
      let initialSizeRatio = 50;
      let initialCenterOffset = {x:{{posx}}, y:{{posy}}};
      initParameters(filename, duration, initialSizeRatio, initialCenterOffset);
    </script>
  </head>
  <body>
    <div id="myCanvas"></div>
  </body>
</html>
